body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.components, .controls, .canvas {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 20px;
}

#component-container {
    border: 1px solid #ddd;
    padding: 10px;
}

.component {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #f3f3f3;
    cursor: grab;
}

.canvas-component.selected {
    border-color: green;
}

.terminal {
    border: 1px solid #666;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.connection-line {
    position: absolute;
    height: 2px;
    transform-origin: 0 0;
}

.connection-line.red {
    background-color: red;
}

.connection-line.black {
    background-color: black;
}

.connection-line.yellow {
    background-color: yellow;
}

#wiring-canvas {
    border: 2px dashed #aaa;
    height: 400px;
    width: 100%;
    position: relative;
}

.wire-type {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: white;
    border: none;
}